# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Model files
*.safetensors
*.bin
*.pt

# Audio files
*.wav
*.mp3
*.flac

# Project specific
ppt presentation/ppt.portable-v678/
*.swf